*{
    margin: 0;
    padding: 0;
}

.social{
    width: 100%;
    justify-content: center;
    display: flex;
}
.about{
    margin: 5px;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20%;
}
.details{
    text-align: center; 
    color: black; 
    width: 70%;
    margin: 5%;
    background-color: white;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    font-family: calibri;
}
.author{
    text-align: center; 
    color: white; 
    font-size: 18px;
    font-family: calibri;
    font-weight: bold;
}
.photo{
    width: 20%;
    border-radius: 10%;
}

.icon{
    border-radius: 20%;
    width: 40px;
    padding: 5px;
    background-color: white;
}

.firsthalfbox li {
    margin: 10px;
    list-style: none;
    font-size: 18px;
    padding: 10px;
    
    font-family: Calibri;
}

.firsthalfbox li a{
    align-items: center;
    color: white;
    text-decoration: none;
}



.pic {
    width: 40%;
    margin: 10px;

}
.pic img{
    width: 90%;
    border-radius: 50px;
}


.text-big{
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: Calibri; 
}

.text-small{
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: Calibri; 
}

.back{
    background: rgba(0, 0, 0, 0.7) url(building.jpg);
    background-size: cover;
    background-blend-mode: hue;
}

.back-india{
    background: rgba(0, 0, 0, 0.7) url(skycraper.jpg);
    background-size: cover;
    background-blend-mode: hue;
}
.box-main{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.asked{
    box-shadow: rgb(245, 247, 248) 0px 0px 20px 0px;
    width: 50%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
}

.right-section{
    display: flex;
    flex-direction: row;
}
.left-section{
    flex-direction: row-reverse;
    display: flex;
}
.question{
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: calibri;
}

.answer{
    color: black;
    font-size: 17px;
    font-family: calibri;
}

.text-footer{
    color: white;
    font-size: 17px;
    margin: 1%;
    display: flex;
    justify-content: center;
    font-family: calibri;
}



.credit-link{
    font-size: 17px;
    font-family: calibri;  
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(175, 255, 153);
    justify-content: center ;
    
}

@media only screen and (max-width:750px){
    .photo{
        width: 50%;

    }
    .box-main {
        flex-direction: column;
    }
    .about{
        flex-direction: column;
    }
    .pic {
        width: 80%;    
    }
    .icon{
        width: 60px;
    }
}

